html{
    font-size: 15px;
}

body{
    --spacing: 30px;
    --padding: 10px;
}

#grid-pagina{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "zona-1 zona-1  zona-1"
                         "zona-8 zona-8  zona-8"
                         "zona-3 zona-2  zona-4"
                         "zona-5 zona-6  zona-7"
                        ;
     gap: 10px 5px;

}

/* <div style = "overflow-x:auto;">

<table>
          <caption> Program </caption>
          <thead>
              <tr>
                <!--<td></td>-->
                 <!-- <th> Perioadă </th>-->
                  <th> Zi </th>
                  <th> Interval vânzări </th>
                  <th> Pauză de masă </th>
                  <th> Interval <i lang="en"> piercing </i></th> 
              </tr>
          </thead>
          <tbody>
              <tr>
                  <!--<td></td>-->
                  <!--<td rowspan="5"> Zile <br/> lucrătoare </td> -->
                  <td> Luni </td>
                  <td> 10-20 </td>
                  <td> 14-16 </td>
                  <td> 18-20 </td>
              </tr>
              <tr>
                 <!--<td></td>-->

                  <td> Marți </td>
                  <td> 10-20 </td>
                  <td> 14-16 </td>
                  <td> 18-20 </td>
              </tr>
              <tr>
                  <!--<td></td>-->

                  <td> Miercuri </td>
                  <td> 10-20 </td>
                  <td> 14-16 </td>
                  <td> 18-20 </td>
              </tr>
              <tr>
                <!--<td></td>-->

                <td> Joi </td>
                <td> 10-20 </td>
                <td> 14-16 </td>
                <td> 18-20 </td>
              </tr>

              <tr>
                <!--<td></td>-->

                <td> Vineri </td>
                <td> 10-20 </td>
                <td> 14-16 </td>
                <td> 18-20 </td>
              </tr>
              <tr>
                <!--<td></td>-->

                <!--<td rowspan="2">Weekend</td>-->
                <td> Sâmbătă</td>
                <td> 12-18 </td>
                <td> 14-15 </td>
                <td> 16-18 </td>
              </tr>
              <tr>
                <!--<td></td>-->

                <td> Duminică </td>
                <td> 12-18 </td>
                <td> 14-15 </td>
                <td> 16-18 </td>
              </tr>
          </tbody>
          <tfoot>
            <tr>
          În zilele de sărbătoare magazinul nostru este închis.
          </tr>
        </tfoot>
      </table>

</div> */